body {
    max-width: 80ch;
    margin: auto;
    padding: 1em;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

header {
    margin: 1em 0;
    text-align: center;
}

header h1 {
    font-size: 1.5em;
    line-height: 1.6em;
}
header h1 a {
    color: var(--text);
}

header nav a {
    display: inline-block;
    padding: 0 0.75em;
    font-weight: 600;
}

pre, code {
    border-radius: 0;
    border: 0;
    font-size: 0.9em;
    max-width: none; /* make the code blocks take up to the max content width */
}

section, article {
    margin: 4em 0;
}

time {
    background: transparent;
    padding: 0;
}

.post-info {
    font-size: 0.9em;
    border-top: solid 1px var(--border);
    margin: 1em 0;
    padding: 1em 0;
}

@media screen and (min-width: 64em) {
    body { padding: 2em; }
    header { margin: 2em 0; }
}
